<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuturoTech</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <section>
            <div>
                <h1>Futuro<span>Tech</span></h1>
            </div>

            <div>
                <nav>
                    <ul>
                        <li><a href="../index.html"><b>INICIO</b></a></li>
                        <li><a href="../views/productos.html"><b>PRODUCTOS</b></a></li>
                        <li><a class="actual" href="../views/nosotros.html"><b>NOSOTROS</b></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <section>
            <article class="articleCenter">
                <h2>Sobre <span>Nosotros</span></h2>
                <p>
                    En <span>FuturoTech</span>, estamos comprometidos con la exploración y difusión de las últimas innovaciones tecnológicas que están dando forma al mundo moderno. Nuestra pasión radica en descubrir cómo la tecnología puede mejorar nuestras vidas y facilitar nuevas formas de interacción con nuestro entorno. Fundada por un equipo de entusiastas tecnológicos apasionados por el futuro, buscamos compartir este entusiasmo a través de una plataforma dedicada a la educación, inspiración y conexión en el mundo de la tecnología avanzada.
                    <br><br>
                    Nos enorgullecemos de ser un recurso confiable para aquellos que desean mantenerse actualizados con los avances tecnológicos más recientes. Desde inteligencia artificial hasta Internet de las Cosas, cubrimos una amplia gama de temas para proporcionar una visión completa de las tendencias emergentes y su impacto en la sociedad. Nuestro objetivo es empoderar a nuestra comunidad para que abrace la innovación de manera informada y participativa.
                    <br><br>
                    En FuturoTech, no solo nos centramos en la tecnología en sí misma, sino en cómo esta tecnología puede mejorar la calidad de vida y transformar industrias enteras. Creemos en el poder de la colaboración y la creatividad para impulsar avances significativos en todos los aspectos de la sociedad. Estamos aquí para inspirar a nuestros lectores, ayudarlos a entender el potencial ilimitado de la tecnología y fomentar un diálogo abierto sobre su impacto ético, social y cultural.
                    <br><br>
                    Únete a nosotros en este emocionante viaje hacia el futuro. Juntos, exploraremos las fronteras de la innovación tecnológica y descubriremos cómo podemos aprovechar al máximo las herramientas del mañana. ¡Bienvenido a <span>FuturoTech</span>, donde el futuro se hace presente!
                </p>    
            </article>
        </section>
    </main>

    <footer class="nosotrosFooter">
        <ul>
            <li><a href="../views/nosotros.html">Quienes somos</a></li>
            <li><a href="">Informacion</a></li>
            <li><a href="">Privacidad</a></li>
            <li><a target="_blank" href="https://instagram.com">Instagram</a></li>
            <li><a target="_blank" href="https://twitter.com">Twitter</a></li>
            <li><a target="_blank" href="https://facebook.com">Facebook</a></li>
        </ul>
    </footer>
</body>
</html>
