<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 04</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div>
            <h1>Futuro<span>Tech</span></h1>
        </div>

        <nav>
            <ul>
                <li><a href="../index.html"><b>INICIO</b></a></li>
                <li><a class="actual" href="../views/productos.html"><b>PRODUCTOS</b></a></li>
                <li><a href="../views/nosotros.html"><b>NOSOTROS</b></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <article class="articleCenter">
                <h2>Nuestros <span>Productos</span></h2>
                <p>Descubre la colección de innovadores productos tecnológicos que ofrecemos en <span>FuturoTech</span>. Desde dispositivos inteligentes hasta soluciones de vanguardia, nuestra selección está diseñada para llevar la tecnología del mañana a tus manos hoy mismo. Explora nuestra gama de productos cuidadosamente seleccionados que abarcan desde asistentes virtuales hasta dispositivos IoT (Internet de las Cosas), todos diseñados para simplificar y mejorar tu vida diaria. En FuturoTech, estamos comprometidos a brindarte acceso a lo último en tecnología, permitiéndote experimentar la emocionante convergencia entre el mundo físico y el digital. Sumérgete en nuestra colección y descubre cómo puedes llevar la innovación a tu estilo de vida.</p>
            </article>

            <div class ="productos">
                <article class="producto uno">
                    <h2>Asistente Virtual Inteligente</h2>
                    <img src="../img/asistente_virtual_inteligente.png" alt="Asitente virtual inteligente">

                    <a href=""><b>Ver mas</b></a>
                </article>


                <article class="producto dos">
                    <h2>Gafas de Realidad Virtual</h2>
                    <img src="../img/gafas_realidad_virtual.png" alt="Gafas de realidad virtual">
                    <a href=""><b>Ver mas</b></a>
                    </article>


                <article class="producto tres">
                    <h2>Cámara de Seguridad Inteligente</h2>
                    <img src="../img/camara_de_seguridad_inteligente.png" alt="Camara de seguridad inteligente" >
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto cuatro">
                    <h2>Dispositivo IoT para Hogar Inteligente</h2>
                    <img src="../img/dispositivo_iot_para_hogar_inteligente.jpg" alt="Dispositivo IoT para Hogar Inteligente">
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto cinco">
                    <h2>Dispositivo IoT para Hogar Inteligente</h2>
                    <img src="../img/dispositivo_iot_para_hogar_inteligente.jpg" alt="Dispositivo IoT para Hogar Inteligente">
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto seis">
                    <h2>Dispositivo IoT para Hogar Inteligente</h2>
                    <img src="../img/dispositivo_iot_para_hogar_inteligente.jpg" alt="Dispositivo IoT para Hogar Inteligente">
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto siete">
                    <h2>Dispositivo IoT para Hogar Inteligente</h2>
                    <img src="../img/dispositivo_iot_para_hogar_inteligente.jpg" alt="Dispositivo IoT para Hogar Inteligente">
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto ocho">
                    <h2>Dispositivo IoT para Hogar Inteligente</h2>
                    <img src="../img/dispositivo_iot_para_hogar_inteligente.jpg" alt="Dispositivo IoT para Hogar Inteligente">
                    <a href=""><b>Ver mas</b></a>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <ul>
            <li><a href="../views/nosotros.html">Quienes somos</a></li>
            <li><a href="">Informacion</a></li>
            <li><a href="">Privacidad</a></li>
            <li><a target="_blank" href="https://instagram.com">Instagram</a></li>
            <li><a target="_blank" href="https://twitter.com">Twitter</a></li>
            <li><a target="_blank" href="https://facebook.com">Facebook</a></li>
        </ul>
    </footer>
</body>
</html>