<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuturoTech</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <section>
            <div>
                <h1>Futuro<span>Tech</span></h1>
            </div>

            <div>
                <nav>
                    <ul>
                        <li><a href="../index.html"><b>INICIO</b></a></li>
                        <li><a class="actual" href="../views/productos.html"><b>PRODUCTOS</b></a></li>
                        <li><a href="../views/nosotros.html"><b>NOSOTROS</b></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <section>
            <article class="articleCenter">
                <h2>Nuestros <span>Productos</span></h2>
                <p>Descubre la colección de innovadores productos tecnológicos que ofrecemos en <span>FuturoTech</span>. Desde dispositivos inteligentes hasta soluciones de vanguardia, nuestra selección está diseñada para llevar la tecnología del mañana a tus manos hoy mismo. Explora nuestra gama de productos cuidadosamente seleccionados que abarcan desde asistentes virtuales hasta dispositivos IoT (Internet de las Cosas), todos diseñados para simplificar y mejorar tu vida diaria. En FuturoTech, estamos comprometidos a brindarte acceso a lo último en tecnología, permitiéndote experimentar la emocionante convergencia entre el mundo físico y el digital. Sumérgete en nuestra colección y descubre cómo puedes llevar la innovación a tu estilo de vida.</p>
            </article>

            <div class ="productos">
                <article class="producto uno">
                    <div>
                        <div class = "whiteBg">
                            <img src="../img/Tele.webp" alt="Television">
                        </div>
                    <h2>Smart TV 4k 52"</h2>
                    </div>
                    

                    <a href=""><b>Ver mas</b></a>
                </article>


                <article class="producto dos">
                    <div>
                        <div class = "whiteBg">
                            <img src="../img/Auricular inalambrico.webp" alt="Audifono">
                        </div>
                        <h2>Audifonos inalambricos</h2>
                        
                    </div>
                    
                    <a href=""><b>Ver mas</b></a>
                    </article>


                <article class="producto tres">
                    <div>
                        <div class = "whiteBg">
                            <img src="../img/Auricular JBL.webp" alt="Auricular JBL" >
                        </div>
                        <h2>Auricular JBL</h2>
                    </div>
                    
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto cuatro">
                    <div>
                        <div class = "whiteBg">
                            <img src="../img/Disco SSD.webp" alt="Disco KINGSTON 512gb ssd">
                        </div>
                        <h2>Disco KINGSTON 512gb ssd</h2>
                    </div>
                    
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto cinco">
                    <div>
                        <div class = "whiteBg">
                            <img src="../img/Impresora.webp" alt="Impresora">
                        </div>
                        <h2>Impresora brother color</h2>
                    </div>
                    
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto seis">
                    <div>
                        <div class = "whiteBg">
                            <img src="../img/Laptop.webp" alt="Laptop">
                        </div>
                        <h2>Laptop CX Windows 10</h2>
                    </div>
                    
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto siete">
                    <div>
                        <div class = "whiteBg">
                            <img src="../img/Mando smart.webp" alt="Mando smart ">
                        </div>
                        <h2>Mando smart para TV</h2>
                    </div>
                    
                    <a href=""><b>Ver mas</b></a>
                </article>

                <article class="producto ocho">
                    <div>
                        <div class = "whiteBg">
                            <img src="../img/Parlante JBL.webp" alt="Parlante JBL">
                        </div>
                        <h2>Parlante JBL</h2>
                </div>
                    
                    <a href=""><b>Ver mas</b></a>
                </article>
            </div>
        </section>
    </main>

    <footer class = "productosFooter">
        <ul>
            <li><a href="../views/nosotros.html">Quienes somos</a></li>
            <li><a href="">Informacion</a></li>
            <li><a href="">Privacidad</a></li>
            <li><a target="_blank" href="https://instagram.com">Instagram</a></li>
            <li><a target="_blank" href="https://twitter.com">Twitter</a></li>
            <li><a target="_blank" href="https://facebook.com">Facebook</a></li>
        </ul>
    </footer>
</body>
</html>
